@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?xmoxoo');
  src:url('../fonts/icomoon.eot?xmoxoo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xmoxoo') format('truetype'),
    url('../fonts/icomoon.woff?xmoxoo') format('woff'),
    url('../fonts/icomoon.svg?xmoxoo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-replacement-report:before {
  content: "\e914";
  color: #e0e1e0;
}
.icon-damage-report:before {
  content: "\e906";
  color: #e0e1e0;
}
.icon-bad-debts:before {
  content: "\e900";
  color: #e0e1e0;
}
.icon-business-report:before {
  content: "\e901";
  color: #e0e1e0;
}
.icon-cancel-report:before {
  content: "\e902";
  color: #e0e1e0;
}
.icon-cheque-report:before {
  content: "\e903";
  color: #e0e0e0;
}
.icon-collection-report:before {
  content: "\e904";
  color: #e0e0e0;
}
.icon-counter-return:before {
  content: "\e905";
  color: #e0e0e0;
}
.icon-delivery-boy-rreturn:before {
  content: "\e907";
  color: #e0e1e0;
}
.icon-inventory-details:before {
  content: "\e908";
  color: #e0e0e0;
}
.icon-inventory-report:before {
  content: "\e909";
  color: #e0e0e0;
}
.icon-manage-brand:before {
  content: "\e90a";
  color: #e0e0e0;
}
.icon-manage-category:before {
  content: "\e90b";
  color: #e0e0e0;
}
.icon-manage-company:before {
  content: "\e90c";
  color: #e0e1e0;
}
.icon-manage-expenses:before {
  content: "\e90d";
  color: #e0e1e0;
}
.icon-manage-inventory:before {
  content: "\e90e";
  color: #e0e0e0;
}
.icon-manage-product:before {
  content: "\e90f";
  color: #e0e0e0;
}
.icon-order-list:before {
  content: "\e910";
  color: #e0e0e0;
}
.icon-payment-report:before {
  content: "\e911";
  color: #e0e1e0;
}
.icon-payment:before {
  content: "\e912";
  color: #e0e0e0;
}
.icon-permanent-return:before {
  content: "\e913";
  color: #e0e0e0;
}
.icon-reports:before {
  content: "\e915";
  color: #e0e0e0;
}
.icon-return-item:before {
  content: "\e916";
  color: #e0e0e0;
}
.icon-sales-report:before {
  content: "\e917";
  color: #e0e1e0;
}
