body {
	font-size: 15px !important;
	font-family: 'Nunito Sans', sans-serif !important;
}

a:active {
	background: transparent;
}

.btn-flat {
	background-color: transparent !important;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
}
/* #sendMsg,#addeditmsg{
		width:30% !important;
	} */
.blue-gradient {
	background-color: #0073b7 !important;
	/* background-image: linear-gradient( to right, #311b92, #3498ce); */
}
.blueColor-text{
	color: #0073b7 !important;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i
	{
	height: 45px !important;
	line-height: 45px !important;
}

nav a {
	color: #e0e0e0 !important;
	height: 45px !important;
}

.navbar-fixed {
	height: 45px !important;
}

.card-panel p {
	margin: 2px !important;
}

.paddingBody {
	padding-left: 230px;
}

.btn {
	background-color: #0073b7;
}

.noPadding {
	padding: 0 !important;
}
/* .navbar-fixed{
    margin-left:240px;
    } */
/*nav,
main,
footer {
    padding-left: 270px;
}*/

/*     .modal{
    	width:40% !important;
    } */
/* .modal {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 100%;
        width: 90%;
        margin: auto;
        overflow-y: auto;
        border-radius: 2px;
        will-change: top, opacity;
    } */
/*Scroll bars*/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #707379;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

div.brand-logo {
	padding-left: 10px;
}
/* css start for sidenav */
.side-nav {
	width: 240px !important;
	opacity: 1;
}

.sidenav-color {
	background-color: #303641 !important;
}

.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover
	{
	background-color: transaprent;
}

.side-nav.fixed {
	top: 0 !important;
}

#sidenav-overlay {
	background-color: transparent;
}


	
/* #aaabae */
.side-nav li>a {
	color: #e0e0e0;
	display: block;
	font-size: 15px;
	font-weight: 350;
	height: 40px !important;
	line-height: 40px !important;
	padding: 0 12px;
}

.collapsible-header {
	min-height: 40px !important;
}

.collapsible-body {
	background-color: #444A54 !important;
}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header,
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
	padding: 0 12px !important;
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"],
	.side-nav li>a>i.material-icons {
	float: left;
	font-weight: 150;
	height: 40px !important;
	line-height: 40px !important;
	margin: 0 4px 0 0;
	width: 24px;
	color: #e0e0e0;
}

.collapsible-header i {
	font-weight: 150;
	font-size: 1.3rem !important;
}
/* css end for sidenav */
.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin-top: 0;
	position: relative;
	vertical-align: middle;
}

.select2-dropdown {
	z-index: 9001 !important;
}
/*table style start*/

/*  .dataTables_wrapper th,
     .dataTables_wrapper td,
     .tblborder th,
     .tblborder td {
        width: 5%;
    } */
/*  div.dataTables_wrapper {
        width: 100% !important;
        margin: 6% auto !important;
    } */

/* css for datatable start */
/* css for scroll table in dataTable start */
.scrollDivTable {
	width: 100%;
	overflow-x: auto;
	position: relative;
}
/* css for scroll table in dataTable end*/
.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1;
	margin: 2% auto;
}
/* css for export button start*/
div.dt-buttons {
	position: relative;
	float: left;
	/* margin-top: 1%;  */
	margin-bottom: 0px;
	margin-left: 23% !important;
}

.pdfButton, .excelButton, .printButton, .pageLengthButton, .colvisButton
	{
	background-image: linear-gradient(to bottom, transparent 0%, transparent 100%)
		!important;
	z-index: 1;
	border: none !important;
	padding: 0.3em 1em !important;
	/*  margin-bottom: 0;  */
	height: 28px !important;
	font-size: 14px !important;
	/* bottom:0; */
}
/*for pdf,excel buttons text and icons font-size*/
.dt-buttons span i, .dt-buttons span {
	font-size: 12px !important;
}
/* css for export button end*/

/*css for length (display records) start*/
.dataTables_length label {
	float: left;
	/*  position:absolute !important; */
	top: 15px;
	color: #424242 !important;
	max-width: 100px;
}

.dataTables_length div.select-wrapper {
	margin-left: 5px;
	position: relative;
	display: inline-block;
	width: 50%;
}

.dataTables_length .select-wrapper ul {
	min-width: 50px;
}

.dataTables_length .select-wrapper input.select-dropdown {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border: 1px solid #9e9e9e;
	border-radius: 2px !important;
	outline: none;
	height: 2rem;
	line-height: 1rem;
	/* width: 100%; */
	font-size: 1rem;
	margin: 0 0 0 0;
	padding: 0;
	display: inline;
}
/*css for length (display records) end*/

/* css for filter start */
.dataTables_filter {
	float: right !important;
	margin-right: 2px;
}

.dataTables_filter label {
	float: left;
	position: initial !important;
	top: 15px;
	display: inline-block !important;
	color: #757575 !important;
}

div.dataTables_filter input {
	/* margin-left:5px; */
	position: relative;
	display: inline-block;
	width: 100% !important;
	margin-left: 0 !important;
	border: 1px solid #9e9e9e !important;
	border-bottom: 1px solid #9e9e9e !important;
	border-radius: 6px !important;
	color: black;

	/* padding-bottom:1%; */
}

div.dataTables_filter input::-webkit-input-placeholder, div.dataTables_filter input::-moz-placeholder,
	div.dataTables_filter input:-ms-input-placeholder, div.dataTables_filter input:-moz-placeholder
	{
	font-family: FontAwesome !important;
	content: "&#xf075;" !important;
	padding-top: 0;
	display: block;
	text-align: center;
}
/* for hidding search icon */
div.dataTables_filter::after {
	font-family: "FontAwesome";
	content: "\f002";
	padding: 4px;
	padding-top: 0;
	display: none;
}
/* css for filter end */

/* css for dataTable paginate button start */
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 5px !important;
	font-size: 13px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
	{
	color: #333 !important;
	border: 1px solid #9e9e9e;
	background-color: white;
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%); */
	background: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
	{
	cursor: default;
	color: #666 !important;
	border: 1px solid #9e9e9e !important;
	background: transparent;
	box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin-left: 0;
}

.dataTables_info {
	font-size: 13px !important;
}

table.dataTable.no-footer {
	border-bottom: none !important;
	margin-left: 0;
	margin-right: 0;
}
/* css for dataTable paginate button end */

/* css for table body th td start*/
.tblborder td {
	padding: 2px 2px !important;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
}

.tblborder th {
	padding: 5px 2px !important;
}

table.dataTable.display tbody tr.odd {
	background-color: #e0e0e0 !important;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1
	{
	background-color: #e0e0e0 !important;
}

.dataTables_wrapper td {
	padding: 2px 6px !important;
}

.dataTables_wrapper th {
	padding: 0 10px !important;
}

.dataTables_wrapper td {
	border-top: none !important;
	border-bottom: 1px solid #9e9e9e !important;
	border-right: 1px solid #9e9e9e !important;
	font-size: 14px !important;
	border-width: 1px;
}

table.dataTable th {
	border-top: 1px solid #9e9e9e;
	/*  border-bottom: 1px solid #9e9e9e !important; */
	border-right: 1px solid #9e9e9e;
}

table.dataTable thead th {
	color: #0073b7 !important;
}
/* for giving border to first element */
table.dataTable tr:first-child th:first-child, table.dataTable td:first-child
	{
	border-left: 1px solid #9e9e9e !important;
}
/* for complex header remove top border */
table.dataTable tr:nth-child(2) th {
	border-top: none !important;
}

table.dataTable tfoot th {
	border-bottom: 1px solid #9e9e9e !important;
}

table.dataTable thead th, table.dataTable thead td {
	/*  padding: 0 8px !important; */
	/*  padding-top:0 !important;
   padding-bottom:0 !important; */
	border-bottom: 1px solid #9e9e9e;
}

.dataTables_wrapper tbody tr:hover {
	background-color: #eceff1 !important;
	z-index: 2;
}

table.dataTable tbody td {
	/* padding:2px 8px !important; */
	/*  padding-top: 4px !important;
          padding-bottom: 4px !important;  */
	
}
/* css for table body th td end*/

/* for checkbox in dataTable start */
th input[type='checkbox']+label {
	margin-left: 8%;
}

td input[type='checkbox']+label {
	margin-left: 8%;
}
/* for checkbox in dataTable end */

/* for border in print page */
@media print {
	table td, table th {
		border: 1px solid #9e9e9e;
	}
}
/* css for datatable end */

/* css for datatable for small screen */
@media only screen and (max-width: 600px) {
	.colvisButton {
		display: none !important;
	}
	.dataTables_length label {
		position: absolute !important;
		left: 0px;
		top: 35px;
	}
	div.dt-buttons {
		margin: auto !important;
		bottom: 12px !important;
	}
	.modal-dt-buttons div.dt-buttons {
		margin: auto !important;
		bottom: 0px !important;
	}
	.container .row {
		margin-left: auto;
		margin-right: auto;
	}
	.noPadding {
		padding: 0 5px !important;
	}
	.side-nav {
		width: 270px !important;
	
	}
	::-webkit-scrollbar {
		width: 10px;
		height: 3px;
		background-color: #F5F5F5;
		border-radius: 10px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
	.colvisButton {
		display: none !important;
	}
	div.dt-buttons {
		margin-left: 15% !important;
	}
	.noPadding {
		padding: 0 5px !important;
	}
	.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1;
	margin: 2% auto;
}
.side-nav {
	width: 270px !important;

}
}
@media only screen and (min-width:992px){
	.noBottomMarginOnLarge {
		margin-bottom: 0 !important;
	}
}
/*to overcome space of cells-start*/
.tblborder th, .tblborder tbody td {
	border: 1px solid #9e9e9e !important;
	font-size: 14px !important;
}

tfoot th, tfoot td {
	text-align: center;
}
/*to overcome space of cells-end*/
.wrapok {
	white-space: nowrap !important;
}

.nowrap {
	white-space: word-wrap !important;
}

table .btn {
	padding: 0 2px !important;
	font-size: 10px;
}

table i {
	color: #0073b7 !important;
}

table input[type=text]:not(.browser-default ){
	height: 2rem !important;
}

/*   table.dataTable thead td {
        padding: 3px 8px !important;
      
    } */

/*   div.dataTables_filter {
        margin: 1% 0 0;
    }
     */

/* .dataTables_filter label {
        color: transparent;
    } */

/* .dt-button-collection {
        margin-top: -43%;
        margin-left: 25%;
        transform-origin: 5%;
    } */

/*     div.dt-button-collection.fixed {
        position: fixed;
        top: 47% !important;
        left: 70% !important;
        margin-left: -75px;
        border-radius: 0;
    } */
/*div.dataTables_filter {
        margin: 0% 5%;
        color: #285685;
    }
    
    div.dataTables_filter::before {
        font-family: "FontAwesome";
        content: "\f002";
        padding: 4px;
    }*/
input[type=search] {
	
	border-bottom: none !important;
	height: 2rem !important;
	text-indent: 10px !important;
}

input[type=search]:focus {
	border-bottom: 1px !important;
	box-shadow: 0 1px 0 0 !important;
}

/*table style end*/
.file-field .btn, .file-field .btn-large {
	float: left;
	height: 30px;
	line-height: 30px;
}

h3, h4, h5 {
	font-family: serif;
}

td a:hover {
	background-color: #e0e0e0;
}

i.right {
	float: right;
	margin-left: 5px;
}

a.brand-logo:hover {
	background-color: transparent;
}

/* a.button-collapse:hover {
	background-color: #78909c;
} */

i.material-icons.prefix.active {
	color: #285685;
}

form {
	padding-left: 0px;
}

td button i.material-icons {
	font-size: 20px;
}

td a {
	color: #0073b7 !important;
	font-weight: 800;
}

td .btn-flat {
	color: #0073b7 !important;
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 2px 0;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}

table [type="checkbox"].filled-in:not(:checked )+label:after {
	height: 15px;
	width: 15px;
	background-color: transparent;
	border: 1px solid #5a5a5a;
	top: 0px;
	z-index: 0;
}

table [type="checkbox"].filled-in:checked+label:after {
	top: 0;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	background-color: transparent;
	z-index: 0;
}

table [type="checkbox"].filled-in:checked+label:before {
	top: 0;
	left: 1px;
	width: 6px;
	height: 10px;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	-webkit-transform: rotateZ(37deg);
	transform: rotateZ(37deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 90% 80%;
}

th a {
	font-size: 15px;
	color: #0073b7 !important;
}

th a:active {
	background: transparent;
}

.tabs {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	height: 30px;
	width: 100%;
	background-color: transparent;
	margin: 0 auto;
	white-space: nowrap;
	/*  border-radius: 50px; */
}

.tabs .tab {
	display: inline-block;
	text-align: center;
	line-height: 28px;
	height: 28px;
	/*  padding: 0; */
	margin: 0;
	text-transform: uppercase;
	/* border-radius: 50px; */
	padding: 0 3% 0 0;
}

.tabs .tab a:hover, .tabs .tab a.active {
	background-color: #303641 !important;
	color: #e0e0e0;
}

.tabs .tab a {
	color: #303641;
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 24px;
	font-size: 14px;
	background-color: #e0e0e0 !important;
	/*line-height: 0.2em;*/
	text-overflow: ellipsis;
	overflow: hidden;
	transition: color .28s ease;
	/*   border-radius: 10px; */
	border: 2px solid transparent;
	/* -moz-border-image: -moz-linear-gradient(top, #64b5f6 0%, #3f51b5 100%);
       -webkit-border-image: -webkit-linear-gradient(top, #64b5f6 0%, #3f51b5 100%);
       border-image: linear-gradient(to bottom, #64b5f6 0%, #3f51b5 100%); */
	border-image-slice: 1;
}

.tabs .indicator {
	position: absolute;
	bottom: 0;
	height: 4px;
	margin: 0 1% 0 1%;
	background-color: transparent;
	will-change: left, right;
	border-radius: 90px;
}
/* .tabs {
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        height: 30px;
        width: 100%;
        background-color: transparent;
        margin: 0 auto;
        white-space: nowrap;
        border-radius: 50px;
    }
    
    .tabs .tab {
        display: inline-block;
        text-align: center;
        line-height: 28px;
        height: 28px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        border-radius: 50px;
        padding: 0 3% 0 3%;
    }
    
    .tabs .tab a:hover,
    .tabs .tab a.active {
        background-color: #0091ea;
        color: #ffffff;
    }
    
    .tabs .tab a {
        color: #0091ea;
        display: block;
        width: 100%;
        height: 30px;
        padding: 0 24px;
        font-size: 14px;
        line-height: 0.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .28s ease;
        border-radius: 10px;
        border: 2px solid transparent;
       -moz-border-image: -moz-linear-gradient(top, #64b5f6 0%, #3f51b5 100%);
       -webkit-border-image: -webkit-linear-gradient(top, #64b5f6 0%, #3f51b5 100%);
       border-image: linear-gradient(to bottom, #64b5f6 0%, #3f51b5 100%);
       border-image-slice: 1;
    }
    
    .tabs .indicator {
        position: absolute;
        bottom: 0;
        height: 4px;
        margin: 0 1% 0 1%;
        background-color: transparent;
        will-change: left, right;
        border-radius: 90px;
    }
 */
.card p {
	word-wrap: break-word;
}

@media only screen and (max-width: 992px) {
	.paddingBody {
		padding-left: 0px;
	}
	.tab {
		display: block;
		width: 100%;
		border-bottom: 1px solid #f0f0f0;
	}
	.tabs .tab a {
		padding: 0 12px;
	}
	form {
		padding-left: 0px;
	}
	.side-nav {
		width: 250px;
		opacity: 1;
	}
	input[type=search] {
		margin-top: 6%;
		margin-bottom: 0;
		border-bottom: none;
		height: 2rem;
		text-indent: 10px;
	}
	a.brand-logo:hover {
		background-color: #78909c;
	}
	div.dt-button-collection.fixed {
		position: fixed;
		top: 28% !important;
		left: 69% !important;
		margin-left: -75px;
		border-radius: 0;
	}
}

main {
	flex: 1 0 auto;
	padding-right: 20px;
}

.blue.darken-5 {
	background-color: #0d3244 !important;
}

.blue.darken-6 {
	background-color: #395766 !important;
}

.blue.darken-7 {
	background-color: #074a5f !important;
}

.blue.darken-8 {
	background-color: #3498ce !important;
}

.blue.darken-9 {
	background-color: #1a4e6f !important;
}

.grey.darken-5 {
	background-color: #3b3b3b !important;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 24px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* for error msg  */
span.error {
	color: red;
	display: "inline";
	margin-top: 0 !important;
	margin-left: 14%;
	padding: 0;
	font-size: 0.9em;
}
/* for select arrow */
.select-wrapper span.caret {
	color: initial;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 10px;
	margin: 13px 0;
	font-size: 10px;
	line-height: 10px;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #285685;
	box-shadow: 0 1px 0 0 #285685;
}

input:not([type]):focus:not([readonly])+label, 
input[type=text]:focus:not([readonly] )+label, 
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly] )+label, 
input[type=url]:focus:not([readonly])+label, 
input[type=time]:focus:not([readonly] )+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:no([readonly])+label, 
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label, 
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #285685;
}

input[type=text]:not(.browser-default ), 
input[type=password]:not(.browser-default ), 
input[type=email]:not(.browser-default ), 
input[type=url]:not(.browser-default ), 
input[type=time]:not(.browser-default ), 
input[type=date]:not(.browser-default ), 
input[type=datetime]:not(.browser-default ),
input[type=datetime-local]:not(.browser-default ), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
	margin-bottom: 5px !important;
}

textarea.materialize-textarea {
	overflow-y: hidden;
	padding: 0 0 0 0 !important;
	resize: none;
	min-height: 3rem;
}

.select-dropdown li, .select-dropdown li>span, .select-dropdown li.optgroup
	{
	color: #285685;
	background-color: transparent;
}

.z-depth-2 {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0
		rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	height: 65px;
}

.picker__date-display {
	text-align: center;
	background-color: #285685;
	color: #fff;
	padding-bottom: 15px;
	font-weight: 300;
}

.picker__weekday-display {
	background-color: #224971;
	padding: 10px;
	font-weight: 200;
	letter-spacing: .5;
	font-size: 1rem;
	margin-bottom: 15px;
}

.picker__close, .picker__today {
	font-size: 1.1rem;
	padding: 0 1rem;
	color: #285685;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
	{
	border-radius: 50%;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	background-color: #285685;
	color: #ffffff;
}

.picker__day.picker__day--today {
	color: #285685;
}

.btn {
	font-size: 0.8rem;
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 1.2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}

/* css for dropdown with button */
.dropdown-button {
	font-size: 0.8rem;
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}

#filter.dropdown-content {
	max-height: 450px !important;
}

.dropdown-content {
	max-height: 250px !important;
}

.dropdown-content .btn-flat {
	font-size: 12px;
	padding: 0;
	width: 100%;
}

.dropdown-content li {
	min-height: 20px !important;
	line-height: 1rem !important;
}

.dropdown-content li>a {
	height: 100%;
	font-size: 13px !important;
	padding: 6px !important;
}

#addeditmsg {
	border-radius: 5px;
	width: 30% !important;
	top: 30% !important;
}

#msg {
	text-transform: uppercase !important;
}



i span {
	font-size: 15px !important;
	padding-left: 4%;
}

.select-wrapper span.error {
	margin-left: 0 !important;
}

/* for modal icons */
.success {
	background-color: #26a69a;
}

.success::after {
	font-family: "Material Icons";
	content: "offline_pin";
	font-weight: normal;
	font-style: normal;
	font-size: 50px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.warning {
	background-color: #e57373;
}

.warning::after {
	font-family: "Material Icons";
	content: "error_outline";
	font-weight: normal;
	font-style: normal;
	font-size: 50px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
/* for form outside table */
.formBg {
	background-color: #cfd8dc !important;
	border: 1px solid #b0bec5;
	border-radius: 5px;
	padding: 5px 5px 15px 5px !important;
}
/*css select type of button start*/
.btnSelect.select-wrapper input.select-dropdown {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: white;
	outline: none;
	height: 2.2rem;
	line-height: 2.1rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 10px 20px 0px;
	padding:0 0 0 10px;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* .btnSelect.select-wrapper input.select-dropdown {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: -none;
	outline: none;
	height: 2.2rem;
	line-height: 2.2rem;
	width: 75%;
	font-size: 0.9rem;
	margin: 7px 10px 20px 0;
	padding: 0 1.5rem;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */

.btnSelect.select-wrapper {
	position: relative;
	background-color: #0073b7;
	border-radius: 2px;
}

.btnSelect.select-wrapper span.caret {
	color: white;
	margin: auto;
    padding-right: 10px;
}

.btn-floating {
	color: white !important;
	background-color: #0073b7;
}
/* css for select button end */

/* css for send sms modal start*/
.modal .modal-content {
	padding: 5px 24px;
}

#sendMsg {
	width: 40%;
	/* border-radius: 10px; */
	max-height: unset !important;
	height: 350px !important;
	overflow-y: unset !important;
}

#sendMsg .fixedDiv {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 40%;
	height: 350px;
	/* background: url('resources/img/smsModal1.jpg') center   !important; */
	background: linear-gradient(rgba(48, 54, 65, 0.5), rgba(48, 54, 65, 0.5)),
		url('../img/smsModal1.jpg') center !important;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#sendMsg .scrollDiv {
	left: 40%;
	position: relative;
	overflow-y: auto;
	height: 300px;
	width: 60%;
	padding: 20px;
}

#sendMsg .fixedFooter {
	position: fixed;
	bottom: 5px;
	width: 100%;
	height: 50px;
}

#sendMsg .modal-content {
	padding: 0;
}

textarea#smsText.materialize-textarea {
	padding: .8rem 0 1.6rem 0 !important;
	resize: none;
	min-height: 8rem !important;
}
/* css for send sms modal end */
/* css for delete confirmation modal start*/
.deleteModal {
	width: 30%;
	border-radius: 5px;
	top: 25% !important;
}
#toast-container {
	display: block;
	position: fixed;
	z-index: 10000;
  }
@media only screen and (max-width: 600px) {
	.deleteModal {
		width: 90%;
		border-radius: 5px;
		top: 25% !important;
	}
	#sendMsg {
		width: 50%;
		/* border-radius: 10px; */
		max-height: unset !important;
		height: 350px !important;
		overflow-y: unset !important;
	}
	#addeditmsg {
		border-radius: 5px;
		width: 70% !important;
		top: 30% !important;
	}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
	.deleteModal {
		width: 50%;
		border-radius: 5px;
		top: 25% !important;
	}
	#sendMsg {
		width: 60%;
		/* border-radius: 10px; */
		max-height: unset !important;
		height: 350px !important;
		overflow-y: unset !important;
	}
	#toast-container {
		left: 20%;
		bottom: 7% !important;
		max-width: 90%;
	  }
	  #addeditmsg {
		width: 50%;
	  }
}
@media only screen and (min-width: 993px) {
	#toast-container {
	  top: 25% !important;
	  right: 7% !important;
	  max-width: 86%;
	}
  }
/*.deleteModal .fixedDiv{
	  background-color:#e57373 !important; 
  color:white !important; 
	position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:30%;
   height:200px;
  	
}
 .deleteModal .fixedDiv i{
	margin-top:30%;
}
.deleteModal .scrollDiv{
	 left:30%;
 position:relative;
  overflow-y:auto;
   height:150px;
  width:60%;
  padding:20px; 
}
.deleteModal .fixedFooter{
	position:fixed;	
	 bottom:30px;
	 width:100%;
	 height:30px;
}
.deleteModal .btnModal{
	width:90px;
	display:inline-block !important;
}
.deleteModal .btn-flat{
	padding:0 1.5rem !important;
}
.deleteModal .modal-content{
	padding:0;
	
} */
/* css for delete confirmation modal end*/

/* for underline under name only */
u {
	text-decoration: none !important;
	border-bottom: 1.5px solid #9e9e9e !important;
}

.toast .toast-action {
	color: #eeff41;
	font-weight: 500;
	/* for toast action button margin right */
	margin-right: 5px !important;
	margin-left: 3rem;
}

/* select 2 css */
.select2 {
	width: 85%;
	float: right;
	height: 3rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	color: #444;
	line-height: 45px !important;
}

span.select2-selection.select2-selection--single {
	outline: none;
	height: 3rem;
}	

.select2-container--default .select2-selection--single,
.select2-container .select2-selection--multiple{
	background-color: transparent !important;
	border: none !important;
	border-bottom: 1px solid #aaa !important;
	border-radius: 0 !important;
}

span.selectLabel {
	position: absolute;
	top: -1rem;
	left: 4.1rem;
	font-size: 0.8rem;
}

span.selectLabel_100 {
	position: absolute;
	top: -1rem;
	left: 1px;
	font-size: 0.8rem;
}
.actionBtn{
	margin-top:0.6%;
}
@media only screen and (max-width: 600px) {
.hideColumnOnSmall {
		display: none !important;
	}
	.actionDiv {
		margin-top:5px; 
		margin-bottom: 5px !important;
	}
	.actionDiv.rangeDiv{
		margin-bottom: 10px;
	}
	.actionBtn{
	margin-top:4%;
}
#toast-container {
    min-width: 100%;
    bottom: 0% !important;
  }
}
.cursorPointer{
	cursor: pointer;
}